<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decimal Devigger</title>
    <style>
        .summary-results p {
            margin: 0px 0;
        }
    </style>
</head>
<body>
    <h1>Sportsbook devigger for EU (decimal) odds</h1>
    <form method="POST">
        <h3>Settings:</h3>
        <label for="kelly_budget">Kelly bank roll (e.g., 10000):</label>
        <input type="text" id="kelly_budget" name="kelly_budget" value="{{ kelly_budget }}" required>
        <br>
        <label for="kelly_mult">Kelly multiplier (e.g., 0.1):</label>
        <input type="text" id="kelly_mult" name="kelly_mult" value="{{ kelly_mult }}" required>
        <br>
        <br>
        <h3>Odds:</h3>
        <label for="odds_input">Enter odds for each leg (e.g., 1.5/2.5, 1.4/2.5):</label>
        <input type="text" id="odds_input" name="odds_input" style="width: 800px;" value="{{ odds_input }}" required>
        <br>
        <label for="final_odds">Enter final odds (e.g., 3.0):</label>
        <input type="text" id="final_odds" name="final_odds" value="{{ final_odds }}" required>
        <br>
        <button type="submit">Calculate</button>
    </form>

    {% if error %}
        <div style="color: red; font-size: 1.2em; font-weight: bold; margin-top: 10px; padding: 10px; border: 1px solid red;
        border-radius: 5px; background-color: #ffe6e6; white-space: pre-line; display: inline-block;">
            {{ error }}
        </div>
    {% endif %}

    {% if min_results %}
        <h2>Results:</h2>
        <h3>Summary:</h3>
        <div class="summary-results">
            <p>{{ min_results | safe }}</p>
            <p>{{ avg_results | safe }}</p>
        </div>
    {% endif %}

    {% if multiplicative_results %}
        <h3>Multiplicative Method:</h3>
        <p>{{ multiplicative_results | safe }}</p>
    {% endif %}
    {% if power_results %}
        <h3>Power Method:</h3>
        <p>{{ power_results | safe }}</p>
    {% endif %}
    {% if additive_results %}
        <h3>Additive Method:</h3>
        <p>{{ additive_results | safe }}</p>
    {% endif %}
    {% if shin_results %}
        <h3>Shin Method:</h3>
        <p>{{ shin_results | safe }}</p>
    {% endif %}

    <footer>
        <p>For more info, and the source code, see <a href="https://github.com/jurajvitalis/devigger-eu" target="_blank">GitHub</a>.</p>
    </footer>
</body>
</html>